<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-icon-item.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<link rel="import" href="../iron-icons/image-icons.html">
<link rel="import" href="../iron-icons/social-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">

<!-- 
horizontally aligned = is-horizontally
left area = at-left
right area = at-right

verticallyly aligned = is-vertically
top area = at-top
bottom area = at-bottom

  -->


<dom-module id="floating-menu">
  <template>
    <style>
       :host {
        display: block;
        position: fixed;
        z-index: var(--floating-menu-zindex, 9);

        --paper-listbox-background-color: var(--floating-menu-bg, rgba(99, 137, 232, 0.92));
        --paper-listbox-color: var(--floating-menu-color, #fff);
        --paper-item: {
          padding: 0;
        }
        --paper-icon-item: {
          @apply --layout-vertical;
          @apply --layout-center;
          @apply --layout-center-justified;
          @apply --layout-flex;
          padding: var(--floating-menu-item-padding, 15px);
          text-transform: uppercase;
          cursor: pointer;
          font-size: var(--floating-menu-item-text-size, 12px);
        }
        ;
        --paper-item-selected-weight: bold;
        --paper-item-selected: {
          background-color: var(--floating-menu-selected-bg, rgba(99, 137, 232, 0.1));
        }
        ;

        --paper-item-disabled-color: var(--floating-menu-disabled-color, #fff);
        --paper-item-disabled: {
          opacity: 0.3;
        }
        ;

        --paper-item-focused: {
          background-color: var(--floating-menu-focused-bg, rgba(99, 137, 232, 0.1));
        }
        ;
      }

      paper-listbox {
        padding: 0;
        position: relative;
      }
      /* horizontally */

       :host([data-position="is-horizontally"]) {
        @apply --layout-vertical;
        @apply --layout-center-justified;
        top: 0;
        min-height: 100%;
        --paper-listbox: {
          @apply --layout-vertical;
        }
        ;
      }

       :host([data-place="at-right"]) {
        right: 0;
      }

       :host([data-place="at-left"]) {
        left: 0;
      }
      /* vertically */

       :host([data-position="is-vertically"]) {
        left: 0;
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        width: 100%;
        --paper-listbox: {
          @apply --layout-horizontal;
        }
        ;
      }

       :host([data-place="at-top"]) {
        top: 0;
      }

       :host([data-place="at-bottom"]) {
        top: initial;
        bottom: 0;
      }

      iron-icon {
        width: var(--iron-icon-width, 37px);
        height: var(--iron-icon-height, 39px);
        margin: 0 auto;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->

    <paper-listbox selected="0">
      <paper-icon-item data-value="info">
        <iron-icon icon="communication:business" slot="item-icon"></iron-icon>
        info
        <paper-ripple></paper-ripple>
      </paper-icon-item>
      <paper-icon-item data-value="map">
        <iron-icon icon="maps:map" slot="item-icon"></iron-icon>
        map
        <paper-ripple></paper-ripple>
      </paper-icon-item>
      <paper-icon-item data-value="gallery">
        <iron-icon icon="image:crop-original" slot="item-icon"></iron-icon>
        gallery
        <paper-ripple></paper-ripple>
      </paper-icon-item>
      <paper-icon-item data-value="share">
        <iron-icon icon="social:share" slot="item-icon"></iron-icon>
        share
        <paper-ripple></paper-ripple>
      </paper-icon-item>
      <paper-icon-item data-value="contact">
        <iron-icon icon="communication:mail-outline" slot="item-icon"></iron-icon>
        contact
        <paper-ripple></paper-ripple>
      </paper-icon-item>
    </paper-listbox>

  </template>

  <script>
    /**
     * `floating-menu`
     * floating menu
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FloatingMenu extends Polymer.Element {
      static get is() {
        return 'floating-menu';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'floating-menu'
          }
        };
      }
    }

    window.customElements.define(FloatingMenu.is, FloatingMenu);
  </script>
</dom-module>